<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- App CSS -->
  <link rel="stylesheet" href="../styles/footer.css" type="text/css" />
</head>

<body>
  <footer class="footer">
    <div>
      <button id="admin-login"></button>
      <div class="copy">&copy; 2022 Non Profit Name</div>
    </div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="/events">Events</a>
        <a href="/projects">Projects</a>
        <a href="/get-involved">Get Involved</a>
        <a href="/contact-us">Contact Us</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="www.facebook.com" class="fa fa-facebook" target="_blank"></a>
        <a href="www.twitter.com" class="fa fa-twitter" target="_blank"></a>
        <a href="www.pinterest.com" class="fa fa-pinterest" target="_blank"></a>
        <a href="www.linkdln.com" class="fa fa-linkedin" target="_blank"></a>
        <a href="www.instagram.com" class="fa fa-instagram" target="_blank"></a>
        <a href="www.youtube.com" class="fa fa-youtube" target="_blank"></a>
        <a href="www.google.com" class="fa fa-google" target="_blank"></a>
        <a href="www.snapchat.com" class="fa fa-snapchat-ghost" target="_blank"></a>
        <a href="www.skype.com" class="fa fa-skype" target="_blank"></a>
      </div>
    </div>
  </footer>
</body>

</html>