<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- App CSS -->
  <link rel="stylesheet" href="../styles/footer.css" type="text/css" />
</head>

<body>
  <footer class="footer">
    <div class="copy">&copy; 2022 Non Profit Name</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="/events">Events</a>
        <a href="/projects">Projects</a>
        <a href="/get-involved">Get Involved</a>
        <a href="/contact-us">Contact Us</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-pinterest"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>
        <a href="#" class="fa fa-skype"></a>
      </div>
    </div>
  </footer>
</body>

</html>