@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  #head {
    text-align: center;
    margin-top: 7rem;
  }

  .projects {
    &--card {
      border: 1px solid rgb(197, 197, 197);
      border-radius: 5rem;
      padding: 1em;
      margin: 1rem;
      display: flex;

      &--img {
        width: 70%;
        border-radius: 5rem;
      }

      &--body {
        margin: 0 1rem;

        &--title {
          font-weight: 900;
        }

        &--content {
          flex-wrap: wrap;
        }

        &--date {
          font-weight: 500;

          &--text {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  body {
    .projects {
      &--card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &--img {
          // width: 50%;
          border-radius: 10%;
        }
      }
    }
  }
}
